[submodule "bundle/vim-ctrlp"]
	path = bundle/vim-ctrlp
	url = https://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-delimitMate"]
	path = bundle/vim-delimitMate
	url = https://github.com/Raimondi/delimitMate.git
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/vim-neocomplete"]
	path = bundle/vim-neocomplete
	url = https://github.com/Shougo/neocomplete.vim.git
[submodule "bundle/vim-neosnippet"]
	path = bundle/vim-neosnippet
	url = https://github.com/Shougo/neosnippet.vim.git
[submodule "bundle/vim-nerdcommenter"]
	path = bundle/vim-nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "bundle/vim-nerdtree"]
	path = bundle/vim-nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/powerline"]
	path = bundle/powerline
	url = https://github.com/Lokaltog/powerline.git
[submodule "bundle/quickfixsigns"]
	path = bundle/quickfixsigns
	url = https://github.com/tomtom/quickfixsigns_vim.git
[submodule "bundle/checksyntax"]
	path = bundle/checksyntax
	url = https://github.com/tomtom/checksyntax_vim.git
[submodule "bundle/sudoedit"]
	path = bundle/sudoedit
	url = https://github.com/chrisbra/SudoEdit.vim.git
